[submodule "code/lib/bidspm"]
	path = code/lib/bidspm
	url = https://github.com/cpp-lln-lab/bidspm.git
[submodule "inputs/raw"]
	path = inputs/raw
	url = git@gin.g-node.org:/JacMatu/2021_Nencki_MultimodalLanguage_JM_raw.git
	datalad-id = 2bea0f6d-8783-4eed-b2d3-58ad97532243
	datalad-url = git@gin.g-node.org:/JacMatu/2021_Nencki_MultimodalLanguage_JM_raw.git
[submodule "outputs/derivatives"]
	path = outputs/derivatives
	url = git@gin.g-node.org:/JacMatu/analyses_MultimodalLanguageMVPA-derivatives.git
	datalad-id = f4b9b887-f545-4eaa-ae6f-4121b65d9b12
	datalad-url = git@gin.g-node.org:/JacMatu/analyses_MultimodalLanguageMVPA-derivatives.git
[submodule "code/src/cosmo-mvpa-decoding/archive/analisys_high-re_multiSensSpatFreq"]
	path = code/src/cosmo-mvpa-decoding/archive/analisys_high-re_multiSensSpatFreq
	url = git@github.com:marcobarilari/analisys_high-re_multiSensSpatFreq.git
	datalad-id = 32a6f625-e2f0-4df9-a563-858a90ded00f
